body {
  display        : flex;
  margin         : 0;
  padding        : 0;
  font-family    : sans-serif;
  flex-direction : column;
}

html {
  box-sizing : border-box;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

ul {
  list-style-type : none;
}

img {
  max-width  : 100%;
  max-height : 100%;
  margin     : auto;
  vertical-align: top;
}

/* Authentication status header */

#spacing {
  width : 30%;
}

#auth-panel {
  z-index         : 1;
  display         : flex;
  position        : fixed;
  top             : 0;
  width           : 100%;
  padding         : 5px;
  background      : #444444;
  color: white;
  align-items     : center;
  flex-direction  : row;
  justify-content : space-between;
}

#logged-in-as {}

#log-out {
  width        : 30%;
  margin-right : 2%;
  text-align   : right;
}

#log-out-button {
  width         : 50%;
  height        : 40px;
  border        : 1px solid #285e8e;
  border-radius : 6px;
  background-color : #A3F7BF;
  margin-bottom: 10px;
}

/* Item creator and item list layout */

#main-page {
  z-index        : 0;
  display        : flex;
  position       : relative;
  margin-top     : 100px;
  flex-direction : row;
}

/* New item component */

#new-item {
  position     : fixed;
  left         : 0;
  width        : 35%;
  height       : 100vh;
  padding-top  : 5%;
  text-align   : center;
  flex         : 1;
  background-color: #41B3D3;
  color: #444444;
}

#submit-button,
input {
  display       : block;
  box-sizing    : border-box;
  width         : 90%;
  height        : 26px;
  margin        : 20px;
  padding       : 20px;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
  border: none;
}

#submit-button {
  color            : #444444;
  background-color : #A3F7BF;
  border: none;
}

/* Items component */

#items-div {
  width       : 65%;
  margin-left : 35%;
  background-color: #E4E4E4;
  padding-right: 3%;
}

#items-title {
  text-align: center;
}

/* Single Item Component */

#item {
  display          : flex;
  margin           : 10px;
  border-radius    : 30px;
  background-color : white;
  flex-direction   : column;
  padding: 20px;
  margin: 20px;
}

.label {
  padding: 15px;
}

#delete-button {
  display       : block;
  box-sizing    : border-box;
  width         : 60%;
  height        : 26px;
  margin-top    : 20px;
  margin-right  : auto;
  margin-bottom : 20px;
  margin-left   : auto;
  padding       : 20px;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
  color: #444444;
  background-color: #EA5959;
  border: none;
}
