body {
  display        : flex;
  margin         : 0;
  padding        : 0;
  font-family    : sans-serif;
  flex-direction : column;
}

html {
  box-sizing : border-box;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

ul {
  list-style-type : none;
}

img {
  max-width  : 100%;
  max-height : 100%;
  margin     : auto;
  vertical-align: top;
}

button {
  color: white;
}

a{
  color: #41B3D3;
  font-size: .7em;
  text-decoration: underline;
}

/* Authentication status header */

#spacing {
  width : 30%;
}

#app-name {
  margin-left: 110px;
}

#first-name {
  font-weight: 400;
}

#auth-panel {
  height: 60px;
  z-index         : 1;
  display         : flex;
  position        : fixed;
  top             : 0;
  width           : 100%;
  padding         : 5px;
  background      : #444444;
  color: white;
  align-items     : center;
  flex-direction  : row;
  justify-content : space-between;
  background-image: url("../temple.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 10px 5px;
}

#logged-in-as {
  display: inline;
}

#log-out-button {
  cursor: pointer;
}

#log-out {
  font-weight: 300;
  width        : 30%;
  margin-right : 2%;
  text-align   : right;
  font-family: 'Open Sans', sans-serif;
}


/* Item creator and item list layout */

#main-page {
  font-family: 'Open Sans', sans-serif;
  z-index        : 0;
  display        : flex;
  position       : relative;
  margin-top     : 60px;
  flex-direction : row;
}

/* New item component */

#new-item {
  position     : fixed;
  left         : 0;
  width        : 35%;
  height       : 100vh;
  padding-top  : 5%;
  text-align   : center;
  flex         : 1;
  background-color: #41B3D3;
  color: white;
}

input {
  display       : block;
  box-sizing    : border-box;
  width         : 90%;
  height        : 26px;
  margin        : 20px auto 20px auto;
  padding       : 20px;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
  border: none;
}

#clear-button, #submit-button {
  display       : block;
  box-sizing    : border-box;
  width         : 30%;
  height        : 26px;
  margin: 0 25px 0 10px;
  padding       : 20px;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
  border: none;
  float: right;
  text-align: center;
}

#clear-button {
  margin: 0px;
}

#clear-button:enabled {
  background: #EA5959;
}

#clear-button:hover {
  background: #B72626
}

#submit-button {
  background : #A3F7BF;
  color: black;
}

#submit-button:hover {
  background: #70C48C
}

/* Items component */

#items-div {
  width       : 65%;
  margin-left : 35%;
  background-color: #E4E4E4;
  padding-right: 3%;
}

#items-title {
  text-align: center;
}

/* Single Item Component */

#item {
  display          : flex;
  margin           : 10px;
  border-radius    : 30px;
  background-color : white;
  flex-direction   : column;
  padding: 20px;
  margin: 20px;
}

.label {
  padding: 15px;
}

#delete-button {
  box-sizing    : border-box;
  width         : 20%;
  height        : 26px;
  margin-top    : 20px;
  padding       : 20px;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
  color: white;
  background-color: #EA5959;
  border: none;
  margin-left: 80%;
}

#delete-button:hover {
  background: #B72626
}
