body {
  display        : flex;
  margin         : 0;
  padding        : 0;
  font-family    : sans-serif;
  flex-direction : column;
  background: #E4E4E4;
}

html {
  box-sizing : border-box;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

ul {
  list-style-type : none;
}

img {
  max-width      : 100%;
  max-height     : 100%;
  margin         : auto;
  border-radius  : 20px;
  vertical-align : top;
}

button {
  color : white;
}

a {
  color           : #41B3D3;
  text-decoration : underline;
  font-size       : .7em;
}

/* Authentication status header */

#spacing {
  width : 30%;
}

#app-name {
  margin-left : 80px;
  font-family : 'Caesar Dressing',
                cursive;
}

#first-name {
  font-weight : 400;
}

#auth-panel {
  z-index             : 1;
  display             : flex;
  position            : fixed;
  top                 : 0;
  width               : 100%;
  height              : 60px;
  padding             : 5px;
  color               : white;
  background          : #444444;
  background-image    : url("../temple.png");
  background-repeat   : no-repeat;
  background-position : 10px 5px;
  background-size     : 50px 50px;
  align-items         : center;
  flex-direction      : row;
  justify-content     : space-between;
}

#logged-in-as {
  display : inline;
}

#log-out-button {
  cursor : pointer;
}

#log-out {
  width        : 30%;
  margin-right : 2%;
  text-align   : right;
  font-family  : 'Open Sans',
                 sans-serif;
  font-weight  : 300;
}

/* Item creator and item list layout */

#main-page {
  z-index        : 0;
  display        : flex;
  position       : relative;
  margin-top     : 60px;
  font-family    : 'Open Sans',
                   sans-serif;
  flex-direction : row;
}

/* New item component */

#new-item {
  position         : fixed;
  left             : 0;
  width            : 35%;
  height           : 100vh;
  color            : white;
  background-color : #41B3D3;
  padding-top: 5%  ;
  text-align       : center;
}

input {
  display       : block;
  box-sizing    : border-box;
  width         : 90%;
  height        : 26px;
  margin        : 30px auto 30px auto;
  padding       : 20px;
  border        : none;
  border-radius : 6px;
  font-size     : 18px;
  line-height   : 0;
}

#clear-button,
#submit-button {
  display       : block;
  box-sizing    : border-box;
  width         : 30%;
  height        : 26px;
  float         : right;
  margin        : 0 25px 0 10px;
  padding       : 20px 0 20px 0;
  border        : none;
  border-radius : 6px;
  text-align    : center;
  font-size     : 18px;
  line-height   : 0;
}

input#imageURL, input#image {
  margin-bottom: 0px;
}

input#image {
  padding: 0px;
  margin: 0 0 30px 5%;
}

#clear-button {
  margin : 0px;
}

#clear-button:enabled {
  background : #EA5959;
}

#clear-button:hover {
  background : #B72626;
}

#submit-button {
  color      : black;
  background : #A3F7BF;
}

#submit-button:hover {
  background : #70C48C;
}

/* Items component */

#items-div {
  width            : 65%;
  height           : 100%;
  margin-left      : 35%;
  padding-right    : 3%;
  background-color : #E4E4E4;
}

#items-title {
  text-align : center;
}

/* Single Item Component */

#item {
  display          : flex;
  margin           : 10px;
  margin           : 20px;
  padding          : 20px;
  border-radius    : 30px;
  background-color : white;
  flex-direction   : column;
}

.label {
  padding : 15px;
}

#delete-button {
  width            : 20%;
  height           : 26px;
  margin-top       : 20px;
  margin-left      : 80%;
  padding          : 20px 0 20px 0;
  color            : white;
  border           : none;
  border-radius    : 6px;
  background-color : #EA5959;
  text-align       : center;
  font-size        : 18px;
  line-height      : 0;
}

#delete-button:hover {
  background : #B72626;
}

/* Signin Button */

#sign-in-page {
  display         : flex;
  height          : 100vh;
  background      : linear-gradient(
                      #41B3D3,
                      #61D2DC
                    );
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

#title {
  font-family : 'Caesar Dressing',
                cursive;
  font-size   : 3.5em;
}

#logo {
  content : url('../temple2.png');
  width   : 200px;
  height  : 200px;
}

#sign-in-button {
  content : url('../fb-login.png');
  display : block;
  margin  : 0px auto 0px auto;
  cursor  : pointer;
}

@media screen and (max-width: 650px) {

  #main-page{
    flex-direction: column;
    flex-wrap: wrap;
  }

  #new-item{
    display: block;
    position: relative;
    width: 100%;
  }

  #items-div {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    margin: 30px auto 30px auto;
    width: 90%; height: 40px;
    line-height: 40px; font-size: 17px;
    border: 1px solid #bbb;
  }

  #auth-panel{
    height: 70px;
  }

  ul{
    padding: 0px;
  }
}
